{% extends 'otgweb/base.html' %}

{% block title %}Event Detail{% endblock %}

{% block body_block %}
  <div class="page-header">
    <h1>{{ event.name }}</h1>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Event info</h3>
    </div>
    <div class="panel-body">
      <p>Description: {{ event.description }}</p>
      <p>Start time: {{ event.start_time }}</p>
    </div>
  </div>

  <h4>Vendors</h4>
  {% if event.vendors.all %}
    <ul class="list-group">
    {% for vendor in event.vendors.all %}
      <li class="list-group-item">
        <a href="{% url 'otgweb:vendor_detail' vendor.id %}">{{ vendor.name }}</a>
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <div class="alert alert-warning" role="alert">No vendor info for this event.</div>
  {% endif %}
{% endblock %}
