{% extends 'otgweb/base.html' %}

{% block title %}Events{% endblock %}

{% block body_block %}
  <div class="page-header">
    <h1>Events</h1>
  </div>

  <div class="well">
    <p>Here is the list of upcoming and previous OtG events. Data is updated every 6 hours.</p>
  </div>

  {% if events %}
    <ul class="list-group">
    {% for event in events %}
      <li class="list-group-item">
        <a href="{% url 'otgweb:event_detail' event.id %}">{{ event.name }} - {{ event.start_time }}</a>
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <div class="alert alert-warning" role="alert">No events currently available.</div>
  {% endif %}
{% endblock %}
