{% extends 'otgweb/base.html' %}

{% block title %}Index{% endblock %}

{% block body_block %}
  <div class="jumbotron">
    <h1>Hello, food truck lovers!</h1>
    <p>This site lists out upcoming Off the Grid events and vendors.</p>
    <p>
      <a class="btn btn-primary btn-lg" href="{% url 'otgweb:events' %}" role="button">Show me events</a>
      <a class="btn btn-secondary btn-lg" href="{% url 'otgweb:vendors' %}" role="button">Show me vendors</a>
    </p>
  </div>
{% endblock %}
