{% extends 'otgweb/base.html' %}

{% block title %}Vendor Detail{% endblock %}

{% block body_block %}
  <div class="page-header">
    <h1>{{ vendor.name }}</h1>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Vendor info</h3>
    </div>
    <div class="panel-body">
      <p>Number of recent events: {{ num_recent_events }}</p>
    </div>
  </div>


  <h4>Events</h4>
  {% if vendor.event_set.all %}
    <ul class="list-group">
    {% for event in vendor.event_set.all %}
      <li class="list-group-item">
        <a href="{% url 'otgweb:event_detail' event.id %}">{{ event.name }} - {{ event.start_time }}</a>
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <div class="alert alert-warning" role="alert">No event info for this vendor.</div>
  {% endif %}
{% endblock %}
