{% extends 'otgweb/base.html' %}

{% block title %}Vendors{% endblock %}

{% block body_block %}
  <div class="page-header">
    <h1>Vendors</h1>
  </div>

  <div class="well">
    <p>Here is the list of OtG vendors, sorted by number of events attended in the past 30 days. Data is updated every 6 hours.</p>
  </div>

  {% if vendors %}
    <ul class="list-group">
    {% for vendor in vendors %}
      <li class="list-group-item">
        <a href="{% url 'otgweb:vendor_detail' vendor.id %}">{{ vendor.name }}</a>
        <span class="badge">{{ vendor.num_recent_events }}</span>
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <div class="alert alert-warning" role="alert">No vendors currently available.</div>
  {% endif %}
{% endblock %}
